{% block css %}

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="plugins/summernote/summernote-bs4.min.css">
    <!-- Custem CSS -->
    <link rel="stylesheet" href="dist/css/custom.css">

    <!-- DataTables -->
    <link rel="stylesheet" href="plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="plugins/datatables-buttons/css/buttons.bootstrap4.min.css">

{% endblock %}

{% block js %}

    <!-- jQuery -->
    <script src="plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="plugins/moment/moment.min.js"></script>
    <script src="plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="plugins/summernote/summernote-bs4.min.js"></script>
    <script src="plugins/summernote/lang/summernote-de-DE.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>

    <!-- AdminLTE App -->
    <script src="dist/js/adminlte.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="dist/js/demo.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="dist/js/pages/dashboard.js"></script>
    <!-- Sweetalert2 -->
    <script src="plugins/sweetalert2/sweetalert2.all.min.js"></script>

    <!-- Main JS -->
    <script src="src/js/main.js"></script>
    <!-- Page Specific JS -->
    {% if tpl != "404" %}
        <script src="{{pageJs}}"></script>
    {% endif %}

    <!-- DataTables  & Plugins -->
    <script src="plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="plugins/jszip/jszip.min.js"></script>
    <script src="plugins/pdfmake/pdfmake.min.js"></script>
    <script src="plugins/pdfmake/vfs_fonts.js"></script>
    <script src="plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

{% endblock %}

{% block preloader %}
    <!-- Preloader -->
    <div class="preloader flex-column justify-content-center align-items-center {% if darkMode %}dark-mode{% endif %}">
        <img class="animation__shake" src="dist/img/ExaminatorRoundWhite.png" alt="AdminLTELogo" height="150" width="150">
    </div>
{% endblock %}

{% block navbar %}
    <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-dark navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="?page=dashboard" class="nav-link">Home</a>
      </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button" id="controlsBtn">
          <i class="fas fa-sun"></i>
        </a>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->
{% endblock %}

{% block sidebar %}

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="?page=dashboard" class="brand-link">
            <!--<img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">-->
            <img src="dist/img/ExaminatorRoundWhite.png" alt="AdminLTE Logo" class="brand-image">
            <span class="brand-text font-weight-light">{{ applicationName }}</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="dist/img/BWS_logo-1.png" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">{% if firstname is not null and lastname is not null %}{{firstname}} {{lastname}}{% else %}{{className}}{% endif %}</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a href="?page=dashboard" class="nav-link {% if tpl == "dashboard" %}active{% endif %}">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Übersicht
                        </p>
                    </a>
                </li>
                {% if isAdmin or isTeacher %}
                  <li class="nav-item">
                      <a href="?page=classes" class="nav-link {% if tpl == "classes" %}active{% endif %}">
                          <i class="nav-icon fas fa-chalkboard-teacher"></i>
                          <p>
                              Klassen
                          </p>
                      </a>
                  </li>
                  <li class="nav-item">
                      <a href="?page=exams" class="nav-link {% if tpl == "exams" %}active{% endif %}">
                          <i class="nav-icon fas fa-pen-fancy"></i>
                          <p>
                              Klausuren
                          </p>
                      </a>
                  </li>
                  <li class="nav-item">
                      <a href="?page=favorites" class="nav-link {% if tpl == "favorites" %}active{% endif %}">
                          <i class="nav-icon fas fa-star"></i>
                          <p>
                              Favoriten
                          </p>
                      </a>
                  </li>
                {% endif %}
                {% if isAdmin %}
                  <li class="nav-item {% if tpl == "usermanagement" or tpl == "classmanagement" or tpl == "subjectmanagement" %}menu-open{% else %}menu-closed{% endif %}">
                    <a href="" class="nav-link">
                        <i class="nav-icon fas fa-tools"></i>
                        <p>
                            Administration
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                      <li class="nav-item">
                        <a href="?page=usermanagement" class="nav-link {% if tpl == "usermanagement" %}active{% endif %}">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Benutzerverwaltung</p>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="?page=classmanagement" class="nav-link {% if tpl == "classmanagement" %}active{% endif %}">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Klassenverwaltung</p>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="?page=subjectmanagement" class="nav-link {% if tpl == "subjectmanagement" %}active{% endif %}">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Fachverwaltung</p>
                        </a>
                      </li>
                    </ul>
                  </li>
                {% endif %}
                <hr />       
                <li class="nav-item">
                  <a href="?page=logout" class="nav-link" style="background-color: #9a1825">
                      <i class="fas fa-sign-out-alt nav-icon"></i>
                      <p>Abmelden</p>
                  </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>

{% endblock %}

{% block footer %}

    <!-- /.content-wrapper -->
    <footer class="main-footer">
        <strong>Copyright &copy; 2021 <a href="https://bws-hofheim.de">BWS - Hofheim</a>.</strong>
        <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 3.1.0
        </div>
    </footer>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->

{% endblock %}

{% block responseMsg %}
  <!-- notifications -->
  <div id="notification" style="display: none;">
    <span class="successCreateExam">Die Klausur wurde erfolgreich eingetragen!</span>
    <span class="errorCreateExam">Die Klausur wurde erfolgreich eingetragen!</span>
    <span class="loginSuccess">Login erfolgreich!</span>
    <span class="loginError">Benutzername / E-Mail oder Passwart ist falsch!</span>
    <span class="requiredFields">Datum, Uhrzeit/Stunde, Klasse und Fach müssen angegeben sein!</span>
    <span class="lessonAndTimeError">Die Zeitangabe (bis) darf nicht niedriger oder gleich als (von) sein!</span>
    <span class="successDeleteExam">Die Klausur wurde erfolgreich gelöscht!</span>
    <span class="errorDeleteExam">Die Klausur konnte nicht gelöscht werden!</span>
    <span class="errorGetExam">Die Klausur konnte nicht geladen werden!</span>
    <span class="successChangeExam">Die Klausur wurde erfolgreich geändert!</span>
    <span class="errorChangeExam">Die Klausur konnte nicht geändert werden!</span>

    <span class="noNameSelected">Es wurde kein Name eingegeben!</span>
    <span class="noPasswordSelected">Es wurde kein Passwort ausgewählt!</span>
    <span class="passwordNotEqual">Die Passwörter stimmen nicht überein!</span>

    <span class="errorGetClass">Die Klasse konnte nicht geladen werden!</span>
    <span class="successCreateClass">Die Klasse wurde erfolgreich erstellt!</span>
    <span class="errorCreateClass">Die Klasse konnte nicht erstellt werden!</span>
    <span class="successEditClass">Die Klasse wurde erfolgreich geändert!</span>
    <span class="errorEditClass">Die Klasse konnte nicht geändert werden!</span>
    <span class="successDeleteClass">Die Klasse wurde erfolgreich gelöscht!</span>
    <span class="errorDeleteClass">Die Klasse konnte nicht gelöscht werden!</span>

    <span class="errorGetSubject">Das Fach konnte nicht geladen werden!</span>
    <span class="successCreateSubject">Das Fach wurde erfolgreich erstellt!</span>
    <span class="errorCreateSubject">Das Fach konnte nicht erstellt werden!</span>
    <span class="successEditSubject">Das Fach wurde erfolgreich geändert!</span>
    <span class="errorEditSubject">Das Fach konnte nicht geändert werden!</span>
    <span class="errorDuplicateSubject">Das Fach existiert bereits!</span>
    <span class="successDeleteSubject">Das Fach wurde erfolgreich gelöscht!</span>
    <span class="errorDeleteSubject">Das Fach konnte nicht gelöscht werden!</span>
    <span class="successCreateUser">Der Benutzer wurde erfolgreich erstellt!</span>
    <span class="errorCreateUser">Der Benutzer konnte nicht erstellt werden!</span>
    <span class="errorSelfDeleteUser">Das eigene Konto kann nicht gelöscht werden!</span>
    <span class="errorMail">Die E-Mail-Adresse ist ungültig!</span>
    <span class="errorPassword">Die Passwörter stimmen nicht überein!</span>
    <span class="errorRole">Es muss mindestens eine Rolle ausgewählt werden!</span>
    <span class="missingInput">Es müssen alle Felder ausgefüllt sein!</span>
    <span class="errorDuplicate">Die E-Mail existiert bereits!</span>
    <span class="errorPasswordLength">Das Passwort muss mindestens 8 Zeichen besitzen!</span>
    <span class="errorEditUser">Die Änderungen konnten nicht gespeichert werden!</span>
    <span class="successEditUser">Die Änderungen wurden gespeichert!</span>
    <span class="successDeleteUser">Der Benutzer wurde erfolgreich gelöscht!</span>
    <span class="errorDeleteUser">Der Benutzer konnte nicht gelöscht werden!</span>
    <span class="successCreateClass">Die Klasse wurde erfolgreich hinzugefügt!</span>
    <span class="errorCreateClass">Die Klasse konnte nicht hinzugefügt werden!</span>
    <span class="errorDuplicateClass">Die Klasse existiert bereits!</span>
    <span class="successDeleteClass">Die Klasse wurde erfolgreich gelöscht!</span>
    <span class="errorDeleteClass">Die Klasse konnte nicht gelöscht werden!</span>
    <span class="successEditClass">Die Änderungen wurden gespeichert!</span>
    <span class="errorEditClass">Die Änderungen konnten nicht gespeichert werden!</span>
    <span class="emptyInputFile">Es wurde keine Datei ausgewählt!</span>
  </div>
{% endblock %}
