{# Creator = VP #}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{pageTitle}}</title>

  {{ block("css", "layout.twig") }}
</head>
<body class="hold-transition login-page">
  {% if not loginState %}
    <div class="login-box">
      <!-- /.login-logo -->
      <div class="login-logo pb-2">
        <a href="?page=login"><img src="dist/img/ExaminatorRoundWhite.png" alt="AdminLTE Logo" class="brand-image align-center" height="100" width="100"></a>
      </div>
      <div class="card card-outline card-primary">
        <div class="card-header text-center">
          <a href="index.php" class="h1"><b>{{applicationName}}</b></a>
        </div>
        <div class="card-body text-center">
          <div class="row">
            <div class="col-12">
              <p class="login-box-msg">Login</p>
            </div>
          </div>
            <div class="input-group mb-3">
              <input type="email" class="form-control" placeholder="E-Mail / Klassenname" id="inputUser">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="password" class="form-control" placeholder="Passwort" id="inputPassword">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="row">
              <!-- /.col -->
              <div class="col-12 mb-2">
                <button type="submit" class="btn btn-primary btn-block" id="loginBtn">Login</button>
              </div>
              <!-- /.col -->
            </div>

          <!--<p class="mb-1">
            <label id="forgotPwd" style="color: #007bff" data-placement="bottom" title="Bitte wenden Sie sich an einen Administrator"><small>Passwort vergessen?</small></label>
          </p>-->
          <div class="row">
            <div class="col-12 text-center">
              <label id="forgotPwd" style="color: #007bff" data-placement="bottom" title="Bitte wenden Sie sich an einen Administrator"><small>Passwort vergessen?</small></label>
            </div>
          </div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
      <div class="col-12 text-center mt-2">
        <button id="btnHelp" class="btn"><i class="fas fa-question-circle text-right"></i></button>
      </div>
    </div>
    <!-- /.login-box -->

    {{ block("helpModal", "layout.twig") }}

    {{ block("responseMsg", "layout.twig") }}

    {{ block("js", "layout.twig") }}
  {% endif %}
</body>
</html>
